// Style overrides for Learning and Discussion MFE.

body #root {
    font-family: "Open Sans";

    // LEARNING HEADER OVERRIDES
    header.learning-header {
        font-size: 1rem;

        span, a {
            &.d-block.small {
                display: none !important;
            }
        }

        a.logo {
            margin: 1rem 1rem 2rem 1rem;

            img {
                height: 37px;
            }
        }
    }

    #main-content {
        .courseTabsNavigation, nav, a {
            font-size: 0.875rem;
        }

        .h2[role="heading"] {
            font-size: 1.5rem;
        }

        .btn {
            font-size: 1rem;
        }
    }

    // LEARNING INSTRUCTOR TOOLBAR.
    div[data-testid="instructor-toolbar"]>div {
        background-color: $brand !important;
    }

    // LEARNING MAIN CONTENT.
    header.learning-header ~ main { // Selector to specifically select the main content of the learning MFE.
        min-height: 100vh;
    }

    header.learning-header ~ footer { // Selector to specifically select the footer of the learning MFE
        img {
            max-height: 35px !important;
        }
    }
}
